html {
  font-family: Roboto, sans-serif;
}

.oswald {
  font-family: Oswald, sans-serif;
}

.montserrat {
  font-family: Montserrat, sans-serif;
}

.red-dark {
  color: #783018;
}

.red-background {
  background-color: #783018;
}

.yellow {
  color: #e6c98a;
}

.light-gray {
  color: #e8e6e9;
}

.gray {
  color: #707070;
}

.gray-background {
  background-color: #e8e6e9;
}

.dark-gray {
  background-color: #28222e;
}

.dark-gray-text {
  color: #28222e;
}

.btn-gray {
  color: #f1f1f1;
  border: 4px solid #f1f1f1;
  border-radius: 4px;
  padding: .375em .75em .42em;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
}

.btn-gray:hover {
  color: #e6c98a;
  border: 4px solid #e6c98a;
  border-radius: 4px;
  padding: .375em .75em .42em;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
}

.btn-red {
  color: #783018;
  border: 4px solid #783018;
  border-radius: 4px;
  padding: .375em .75em .42em;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
}

.btn-red:hover {
  color: #e6c98a;
  border: 4px solid #e6c98a;
  border-radius: 4px;
  padding: .375em .75em .42em;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
}

.pad-l-1-2 {
  padding-left: .5em;
}

.pad-r-1-2 {
  padding-right: .5em;
}

.pad-l {
  padding-left: 1em;
}

.pad-r {
  padding-right: 1em;
}

.pad-l-2 {
  padding-left: 2em;
}

.pad-r-2 {
  padding-right: 2em;
}

h1:hover {
  color: #d13704;
}

a:focus {
  outline: 3px solid #3892e0;
  background-color: #ace2ff;
  color: #5475a8;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

header {
  background-color: #e6c98a;
}

h1 {
  text-align: center;
}

nav li a {
  text-decoration: none;
  color: #28222e;
}

nav li a:hover {
  color: #d13704;
}

nav ul {
  text-align: center;
  padding-left: 0;
}

nav ul li {
  display: inline-block;
}

@media only screen and (min-width: 38em) {

  h1 {
    text-align: left;
    padding-left: .25em;
  }

  nav ul {
    text-align: right;
  }

}
